@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>MapleRIL - @ViewBag.Title</title>

    <link href="/dist/css/bootstrap.flatly.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">
            <img src="/assets/logo.png" />
            MapleRIL
        </a>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            <div class="text-muted text-center">
                made with &lt;3 by <a href="https://twitter.com/@("@_nexerq")">@("@_nexerq")</a><br />
                MapleStory and related trademarks are (c) Nexon Corporation and this website is completely a fan-made website and has no affiliation with Nexon.
            </div>
        </div>
    </footer>
</body>
</html>
